{% extends 'base.html.twig' %}

{% block title %}XX{% for type in body.RaceType %}
{{type}}
{% endfor %}
{% for title in body.RaceTitle %}
{{title}}
{% endfor %}
{% endblock %}


{% block stylesheets %}
{% endblock %}



{% block body %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{% for title in body.RaceTitle %}
            <h1>{{title}}</h1>
            {% endfor %}</h1>
        <p class="lead">
            {% for type in body.RaceType %}
            {{type}}
            {% endfor %} -
            {% for kind in body.RaceKind %}
            {{kind}}
            {% endfor %} -
            {% for date in body.RaceDate %}
            {{date}}
            {% endfor %}</p>
    </div>
</div>

<div class="container">
    <div class="mb-4">
        <p>Filter par</p>
        <div class="row">
            <a class="btn btn-primary col-sm mr-4" href="#" role="button">Pays</a>
            <a class="btn btn-primary col-sm mr-4" href="#" role="button">???</a>
            <a class="btn btn-primary col-sm" href="#" role="button">???</a>

        </div>
    </div>


    <table class="table">
        <h2>Résultats</h2>
        <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Nom</th>
                <th scope="col">Année</th>
                <th scope="col">Pays</th>
                <th scope="col">Temps</th>
            </tr>
        </thead>
        <tbody>
            {% for name in body.names %}
            <tr>
                <th scope="row">{{body.position[loop.index0]}}</th>
                <td>{{body.names[loop.index0]}}</td>
                <td>{{body.years[loop.index0]}}</td>
                <td>{{body.countries[loop.index0]}}</td>
                <td>{{body.times[loop.index0]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



</div>
{% endblock %}